.task
  padding 9px 20px
  border-radius 8.5px
  cursor pointer

  &.active
    background #f7f7f7
    cursor default

  &.selected
    background #f7f7f7

.check
  margin-right 20px

.task.done .taskText
  text-decoration line-through
  color #BDBECC

.taskText, .taskTextEdit
  font-size 16px
  font-weight 400
  margin-right 18px

.taskTextEdit
  border 0
  outline none
  background transparent
  padding 0
  width 100%

  &::-webkit-input-placeholder
    color #9A9A9A

.line
  display flex
  align-items center
  margin-top 3px

.line.padding
  padding-left 15px + 20px

.line.fullOnly
  display none
  margin-top 16px

.task.active .line.spaceBetween
  display flex
  justify-content space-between

.task.active .line.fullOnly
  display flex

.line:first-child
  margin-top 0

.project
  font-size 14px
  color var(--brand)
  display inline-flex
  align-items center
  margin-right 17px
  position relative
  cursor pointer

.projectIcon, .dateIcon
  //height 14px
  margin-right 10px

.date
  font-size 14px
  color var(--accent)
  display inline-flex
  align-items center
  margin-right 17px

.project > span, .date > span
  display inline-flex
  align-items center

.notes
  width 100%
  border 0
  //font-family Gilroy
  font-family SF Pro Display, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
  background transparent
  font-size 15px

  &::-webkit-input-placeholder
    color #9A9A9A

  &:focus
    outline none

.priorityWrapper
  margin-left auto
  cursor pointer

.tag
  color #9A9A9A
  font-size 16px
  margin-right 25px

  &.inline
    color #131313
    border-radius 8.5px
    border 1px solid #9A9A9A
    padding 2px 4px
    opacity .6
    font-size 14px

.fullDate
  width 250px
  height 44px
  border-radius 8px
  background #F1F1F1
  display flex
  align-items center
  padding 0 17px
  color #161938
  font-size 16px
  cursor pointer
  position relative

  & > span
    display inline-flex
    align-items center

.fullDateIcon
  margin-right 12px

.tagsTrigger
  width 32px
  height 32px
  display inline-flex
  align-items center
  justify-content center
  cursor pointer

.tagsTriggerIcon
  height: 10px
  width: auto
  color gray