
.input
  font-size 1em
  line-height 1em
  padding calc((56px - 1em) / 2)
  width 100%
  background rgba(0,0,0,.03)
  border-radius 16px
  border 1.5px solid rgba(0,0,0,.03)

  &:active, &:focus
    outline none
