.button
  display inline-flex
  height 32px
  align-items center
  padding 0 10px
  border-radius 4px
  background var(--brand)
  border 2px solid var(--brand)
  cursor pointer
  color white

  &.secondary
    background #e6e6e6
    color #424242
    border-color #e6e6e6

  &.activated
    background transparent
    color var(--brand)
    & path
      color var(--brand)
      fill currentColor

.icon + .text
  margin-left 9px

.text
  font-size 14px
  line-height 17px