.button
  display inline-flex
  height var(--size, 32px)
  align-items center
  padding 0 10px
  border-radius 10px
  background var(--color, var(--brand))
  border 2px solid var(--color, var(--brand))
  cursor pointer
  color var(--textColor, white)
  font-weight 600

  &.square
    width var(--size, 32px)
    padding 0
    justify-content center

  &.secondary
    background #e6e6e6
    color #424242
    border-color #e6e6e6

  &.activated
    background transparent
    color var(--color, var(--brand))
    & path
      color var(--color, var(--brand))
      fill currentColor

.awesome
  height 24px

.icon + .text
  margin-left 9px

.icon.filled
  fill var(--textColor, white)
  height 1.3em

.text
  font-size 14px
  line-height 17px