.wrapper
  display flex

.calendar
  padding 0 22px
  cursor default

.fixedElement
  height 28px
  border-radius 5px
  background rgba(0,0,0,.04)
  margin 6px 22px
  display flex
  align-items center
  justify-content flex-start
  padding 0 6px
  colro #424242
  cursor pointer

  &:first-child
    margin-top 22px

.info
  display flex
  justify-content space-between
  align-items center
  padding 0 22px

.monthText
  font-size 14px
  font-weight 700

.actions
  display inline-flex


.action
  display inline-flex
  width 16px
  height 24px
  justify-content center
  align-items center
  margin-left 3px
  cursor pointer

.week
  display flex

.day
  //background #2F45C5
  width 24px
  height 24px
  display inline-flex
  justify-content center
  align-items center
  margin-left 2px
  margin-bottom 2px
  font-size 12px
  color #161938
  border 1px solid transparent
  border-radius 5px
  cursor pointer
  position relative

  &:first-child
    margin-left 0

  &:hover
    background rgba(0,0,0,.05)

  &.alien
    color rgba(0,0,0,.4)

  &.selected
    background #2F45C5
    color white

  &.dayname
    color #9BABC5
    cursor default

    &:hover
      background transparent

.todayMark
  width 3px
  height 3px
  background var(--brand)
  border-radius 50%
  position absolute
  bottom 2px
  margin 0 auto

.selected .todayMark
  background white

.eventCheckbox
  display flex
  justify-content space-between
  padding 22px
  padding-top 12px

.eventMenu
  padding 24px
  font-family SF Pro Display, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
  display flex
  flex-direction column
  align-items flex-start

  .menuAction
    width 1.1em
    height 1.1em
    display flex
    justify-content center
    align-items center
    cursor pointer

    svg
      width .9em
      fill #9BABC5

  input
    padding 0
    border 0
    font-weight 500
    font-size 1.1em
    font-family SF Pro Display, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
    &:active,&:focus
      outline none

  .menuItem
    margin-top 16px
    display flex
    justify-content space-between
    width 100%

    &:first-child
      margin-top 0

    &.disabled
      opacity .5

    .menuItemName
      color #9BABC5
      font-size 0.95em
      font-weight 300
    .menuItemValue
      color var(--brand)