.wrapper
  background rgba(22, 25, 56, 0.3)
  backdrop-filter blur(25px)
  width 100%
  height 100%
  position absolute
  left 0
  top 0
  display flex
  justify-content center
  align-items center
  z-index 1000000
  pointer-events all

.modal
  width 844px
  min-height 549px
  background white
  border-radius 24px
  max-height 100vh


.modalPart
  padding 36px 39px
  border-bottom 1px solid #EEEFF0
  max-height calc(100vh - 117px)
  overflow-y auto

  &:last-child
    border-bottom 0

.head
  display flex

  input
    width 100%
    font-size 24px
    margin-right 12px
    border 0
    resize none
    &:focus, &:active
      outline none

  .actions
    margin-left auto
    display flex
    align-items center

    .add
      height 44px
      padding 0 21px
      background #15DA91
      display flex
      align-items center
      color white
      border-radius 16px
      cursor pointer

      svg
        margin-right 11px
        fill white
        height .6em

    .reject, .trash
      height 44px
      width 44px
      background #F1F1F1
      display flex
      align-items center
      justify-content center
      color #9BABC5
      border-radius 16px
      cursor pointer
      margin-left 12px


    .reject
      margin-left 0
      svg
        height 14px

    .trash svg
      height 24px


    .separator
      height 44px
      width 1px
      background #EEEFF0
      border-radius 8px
      margin 0 11px

.block
  width 48px
  height 48px
  margin 6px 8px
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  display flex
  justify-content center
  align-items center
  cursor pointer
  border 2px solid white
  &.active
    border-color var(--brand)

  svg
    width 36px
    height 36px

.group
  display flex
  flex-direction column
  margin-bottom 41px
  color #161938
  &:last-child
    margin-bottom 0

  .name
    font-size 14px
    color #9BABC5
    font-weight 600
    margin-bottom 16px

  .colors
    display flex
    flex-wrap wrap
    gap 16px

    .color
      width 48px
      height 48px
      border-radius 10px
      //margin-right 16px
      background var(--color)
      cursor pointer
      display flex
      justify-content center
      align-items center

      &.active::before
        content: " "
        display block
        width 36px
        height 36px
        border 2px solid white
        border-radius 10px


  .icons
    display flex
    flex-wrap wrap

  .periods
    display flex

    .period
      width 133px
      height 32px
      border-radius 10px
      border 1px solid #9BABC5
      color #9BABC5
      margin-right 8px
      display flex
      justify-content center
      align-items center
      cursor pointer

      &.active
        border-color var(--brand)
        background var(--brand)
        color white

  .repeatCount
    display inline-flex
    width 133px
    height 36px
    align-items center
    padding 0 8px
    border 1px solid #F6F6F6
    border-radius 8px

    input
      margin 0 17px
      width 24px
      border none
      &:active, &:focus
        outline none
      & {
        -moz-appearance:textfield;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

  .repeatDetails
    display flex

    .info
      display flex
      flex-direction column
      max-width 160px
      margin-top 10px
      margin-right 12px

      .title
        font-size 14px
        font-weight 500

      .description
        font-size 12px
        color #9BABC5

    .week
      display flex
      margin-bottom 8px
