calendarWidth = 250px
sideBarWidth = 250px
mainWidth = calc(100% - 16px - 16px - var(--timeline-width))

mainBlockRadius = 8.5px
mainBlockPadding = 24px

brand = #2F45C5
accent = #FB2B76

@font-face
  font-family 'Arimo'
  src url("../../assets/fonts/Arimo.ttf") format("truetype-variations")
  font-weight 200 800

@font-face
  font-family 'Arimo'
  src url("../../assets/fonts/Arimo-Italic.ttf") format("truetype-variations")
  font-weight 200 800
  font-style italic

:root
  --brand rgb(28, 59, 241)
  --accent #FB2B76
  //--topHeight 120px


*
  box-sizing border-box
  font-family 'Arimo', Helvetica, Arial, sans-serif !important
  scrollbar-width thin

body
  margin 0
  position absolute
  width 100vw
  height 100vh
  overflow hidden
  background #F7F7F7

  display flex
  justify-content center
  align-items center

.globalWrapper
  display flex
  flex-direction column
  max-height 100%

  .topBar
    display flex
    min-height 56px
    margin-bottom 16px

:global(#modals)
  font-family 'Arimo', Helvetica, Arial, sans-serif

:global(#app)
  padding 24px
  font-family 'Arimo', Helvetica, Arial, sans-serif
  height calc(100vh - 36px)
  left 0
  bottom 0
  width 100vw
  max-width 1920px
  position relative

.app
  display flex
  max-height: calc(100vh - 36px - 56px - 28px - 56px);

.resizeHandle
  height 100%
  min-width 15px
  cursor col-resize

.sideBar
  background white
  padding: 36px 0
  width var(--sidebar-width)
  border-radius 24px
  overflow-y auto
  margin-right 8px
  position relative
  border 1px solid rgba(0,0,0,.1)

.timerWrapper
  //min-height var(--topHeight)
  //max-height var(--topHeight)
  //margin 24px 12px
  padding 24px 12px
  padding-top 0

.timer
  width 100%
  min-height 72px
  border-radius 16px
  background var(--brand)


.verticalWrapper
  display flex
  flex-direction column
  width calc(100% - 16px - var(--sidebar-width))
  .mainAndTimeline
    display flex
    height var(--bottomHeight)

.main
  margin 0 8px
  flex-grow 1
  max-width calc(100% - 32px - var(--timeline-width));

  &.noSidebar
    max-width 100%

.timeline
  width var(--timeline-width)
  min-width var(--timeline-width)

*::-webkit-scrollbar {
  width: 3px;
  opacity 0
}

*::-webkit-scrollbar-track {
  position relative
}

*::-webkit-scrollbar-thumb {
  width 3px
  border-radius 5px
  background transparent
  transition background .2s
}

*::-webkit-scrollbar:horizontal {
  height: 3px;
}

*::-webkit-scrollbar-thumb:horizontal {
  height 3px
}

*:hover::-webkit-scrollbar-thumb {
  background #DCDFE5
}