calendarWidth = 346px
sideBarWidth = 250px
mainWidth = calc(100% - 346px - 250px - 32px)

mainBlockRadius = 8.5px
mainBlockPadding = 47px 36px

brand = #2F45C5
accent = #FB2B76

@import "../../assets/fonts/Gilroy/stylesheet.css"

:root {
  --brand #2F45C5
  --accent #FB2B76
}

*
  box-sizing border-box

body
  margin 0
  position absolute
  width 100vw
  height 100vh
  overflow hidden

:global(#app)
  padding 32px
  font-family SF Pro Display, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
  background #F7F7F7
  height 100vh

.app
  display flex
  height: 100%

.sideBar
  background white
  padding: mainBlockPadding
  width 250px
  border-radius 8.5px

.main
  padding 36px 16px
  background white
  border-radius 8.5px
  margin 0 16px
  width mainWidth
  overflow scroll

.timeline
  width 346px
  background white
  border-radius 8.5px
  padding mainBlockPadding
