calendarWidth = 250px
sideBarWidth = 250px
mainWidth = calc(100% - 16px - var(--sidebar-width) - 16px - var(--timeline-width))

mainBlockRadius = 8.5px
mainBlockPadding = 36px 24px

brand = #2F45C5
accent = #FB2B76

@font-face
  font-family 'Arimo'
  src url("../../assets/fonts/Arimo.ttf") format("truetype-variations")
  font-weight 200 800

@font-face
  font-family 'Arimo'
  src url("../../assets/fonts/Arimo-Italic.ttf") format("truetype-variations")
  font-weight 200 800
  font-style italic

:root
  --brand rgb(28, 59, 241)
  --accent #FB2B76

*
  box-sizing border-box
  font-family 'Arimo', Helvetica, Arial, sans-serif !important

body
  margin 0
  position absolute
  width 100vw
  height 100vh
  overflow hidden
  background #F7F7F7

  display flex
  justify-content center
  align-items center


:global(#modals)
  font-family 'Arimo', Helvetica, Arial, sans-serif

:global(#app)
  padding 24px
  padding-top 0
  font-family 'Arimo', Helvetica, Arial, sans-serif
  //background #F7F7F7
  height calc(100vh - 36px)
  //background #ffffff29
  left 0
  bottom 0
  width 100vw
  max-width 1920px
  padding-top 24px
  position relative

.app
  display flex
  height: 100%

.resizeHandle
  height 100%
  width 3px
  //background var(--brand)
  cursor col-resize

.sideBar
  background white
  padding: 36px 0
  width var(--sidebar-width)
  border-radius 24px
  overflow-y auto
  margin-right 8px
  position relative
  border 1px solid rgba(0,0,0,.1)

.main
  margin 0 8px
  width mainWidth

.timeline
  width var(--timeline-width)
  background white
  border-radius 24px
  padding mainBlockPadding
  margin-left 8px
  border 1px solid rgba(0,0,0,.1)

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  //background white
  position relative
}

*::-webkit-scrollbar-thumb {
  width 3px
  border-radius 5px
  background #DCDFE5
}

*::-webkit-scrollbar:horizontal {
  height: 3px;
}

*::-webkit-scrollbar-thumb:horizontal {
  height 3px
}