.wrapper  background rgba(22, 25, 56, 0.3)  backdrop-filter blur(25px)  width 100%  height 100%  position absolute  left 0  top 0  display flex  justify-content center  align-items center  z-index 100000099999  pointer-events all  img    max-height 80%