.label
  padding 0 9.5px
  height 32px
  background #F7F7F7
  border-radius 5px
  justify-content center
  align-items center
  display inline-flex

.icon
  width 14px
  margin-right 7.25px

.text
  font-size 14px
  color #9BABC5
  line-height 17px
