.wrapper
  display flex
  flex-direction column
  padding-bottom 8px

.searchWrapper
  height 50px
  display flex
  align-items center
  padding 0 18px

.search
  border 0
  outline none
  font-size 14px
  color #9BABC5
  font-weight 400
  margin-left 6px

.search::-webkit-input-placeholder
  color #9BABC5
  font-size 14px
  font-weight 400

.list
  width 100%
  display flex
  flex-direction column
  align-items flex-start
  border-top 1px solid #F2F2F2
  max-height 150px
  overflow-y auto

.listTitle
  font-size .9em
  color #9BABC5
  padding 3px 18px

.placeholder
  font-size .8em
  font-weight 500
  width 100%
  color #9BABC5
  padding 3px

.tagMenu
  width 100%
  display flex

.tag, .add
  padding 6px 18px
  font-weight 400
  width 100%
  text-align left
  cursor pointer

  &:hover
    background rgba(0, 0, 0, .05)

.add
  font-weight 500
  display flex
  justify-content space-between
  align-items center

.addIcon
  color green