.screen
  height: 100%
  max-height 100%
  display flex
  flex-direction column

.head
  padding 21px 26px
  background white
  border-radius 24px
  border 1px solid rgba(0,0,0,.1)
  margin-bottom 24px

.info
  margin-bottom 26px
  display flex
  align-items flex-end


.title
  font-weight 600
  font-size 24px
  margin-right 12px
  line-height 1em

.additional
  font-size 14px
  line-height 17px
  color #9BABC5

.actions
  display inline-flex
  align-items center
  margin-left auto

.actions > *
  margin-left 12px

.calendar, .viewSwitch
  width 32px
  height 32px
  display inline-flex
  align-items center
  justify-content center
  color #9BABC5
  cursor pointer
  position relative

  &.active
    color var(--brand)


.tags
  display flex
  flex-wrap wrap


.tag
  margin-right 21px
  font-size 16px
  color #9BABC5
  cursor pointer

  &.selected
    color var(--brand)

.listOfLists
  overflow-y auto
  height 100%

.newTaskActions
  margin 0px 20px
  margin-top 12px
  margin-bottom 36px

  & > *
    margin-right 6px