.wrapper
  position relative
  display flex
  flex-direction column
  //overflow hidden
  max-height 100%

.currentDate
  display flex
  //justify-content space-between
  align-items flex-end
  margin-bottom 8px

  .dayName
    font-weight 500
    font-size 24px
    line-height 1em

  .dayDetail
    margin-left auto
    font-size 16px
    color #9BABC5
    font-weight 200

  .action
    margin-left 3px
    height 24px
    width 24px
    color #9BABC5
    display flex
    justify-content center
    align-items center

    svg
      height 1em
      fill #9BABC5

.allDayList
  display flex
  flex-direction column

  .allDayName
    font-size 12px
    color #9BABC5
    margin-bottom 4px

.timeline
  margin-top: 8px
  //overflow hidden
  overflow-y scroll
  max-height 100%
  position relative

.eventContainer
  position absolute
  right 8px
  width calc(100% - 31px - 8px - 8px)
  top var(--start)
  height calc(var(--end) - var(--start))
  border-radius 8px
  overflow hidden
  z-index 3

  .eventStretch
    position absolute
    bottom 0
    height 6px
    width 100%
    background rgba(0,0,0,.05)
    cursor pointer
.now
  position absolute
  top calc(var(--now-offset) - 7px)
  display flex
  width 100%
  font-size 11px
  align-items center
  z-index 100

  span
    color var(--accent)
    margin-right 3px
    line-height 1em
    width 30px
    background white

  .line
    height 1px
    width calc(100% - 31px - 3px - 3px)
    background var(--accent)
    position relative

    right 0

    &::before
      content " "
      width 11px
      height 11px
      border-radius 50%
      position absolute
      top -5px
      left 0
      background var(--accent)

.hour
  height calc(var(--hour-height) + var(--font-size))
  display flex
  font-size var(--font-size)
  padding-right 3px
  position relative

  &:last-child
    height 1em

  span
    width 31px
    margin-right 4px
    font-family Gilroy
    color #5C5C5C

  .dash
    width 100%
    height: 1em
    background-image linear-gradient(to right, #DCDFE5 6px, transparent 6px)
    background-position bottom
    background-size 16px 1px
    background-repeat repeat-x

  &::before
    content " "
    width calc(100% - 31px - 12px)
    position absolute
    top var(--hour-height)
    right 8px
    height 1px
    max-height 1px
    overflow hidden
    background-image linear-gradient(to right, #DCDFE5 6px, transparent 6px)
    background-position bottom
    background-size 16px 1px
    background-repeat repeat-x
    opacity .4
    z-index 0
  &:last-child::before
    display none