.checkbox
  border 1px solid #D1D2E1
  border-radius 5px
  width 15px
  height 15px
  display inline-flex
  justify-content center
  align-items center

  &.checked
    background #2F45C5
    border-color #2F45C5

.checkmark
  color white
  display none

.checkbox.checked .checkmark
  display: inline-block