.checkbox
  border 1px solid #D1D2E1
  border-radius 5px
  width 15px
  height 15px
  min-width 15px
  display inline-flex
  justify-content center
  align-items center
  background white

  &.checked
    background #2F45C5
    border-color #2F45C5

  &.colored.checked
    background var(--color)
    border-color var(--color)

.checkmark
  color white
  display none
  margin-top 2px

.checkbox.checked .checkmark
  display: inline-block