
.menu
  display flex
  min-height 56px
  max-height 56px
  align-items stretch
  margin-bottom 16px

  .item
    min-width 56px
    background white
    display flex
    align-items center
    justify-content center
    min-height 100%
    margin-right 8px
    border-radius 16px
    cursor pointer

    &.active
      padding 0 16px
      svg
        color black

    .name
      margin-left 8px
      font-size 14px
      font-weight 600

    svg
      height 28px
      width 28px
      color #9BABC5
