.sidebar
  position relative
  height calc(100% - 128px)
  padding 0 18px
  margin 0 6px
  margin-top 64px
  overflow-y auto

.logoWrapper
  display flex
  justify-content center
  align-items center
  width 100%
  position absolute
  top 36px

.logo
  height 35px
  width 35px

.logoTitle
  font-family Gilroy
  font-style normal
  font-weight 600
  font-size 24px
  line-height 29px
  color #161938
  margin-left 9px
  &.beta
    color #556eff

.groupTitle
  color #9BABC5
  font-size 16px
  font-weight 400
  font-family SF Pro Display, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
  margin-bottom 8px
  display flex
  align-items center
  margin-top 36px
  cursor pointer

.addTrigger
  margin-left auto

.newName
  width calc(100% - 38px)
  margin 0 19px;
  font-size 1em
  font-weight 400
  border 0
  outline none
  border-bottom 1px solid #9BABC5

.groupTitleIcon
  margin-right 10px
  transition transform .2s

.groupTitleIconOpen
  transform rotate(90deg)

.groupElement
  height 36px
  border-radius 10px
  margin-bottom 4px
  color black
  font-weight 500
  display flex
  align-items center
  cursor pointer

.groupElement.active
  color black
  background #f7f7f7

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

.colorInput
  padding 0
  background transparent
  width 1.5em
  height 1.5em
  border-radius 50%
  border 0
  overflow hidden
  -webkit-appearance none
  margin-right 14px
  margin-left 19px
  &:active, &:focus
    outline none

.groupElementIcon
  margin-right 14px
  margin-left 19px
  height 1.2em
  color var(--brand)

.groupElementAwesomeIcon
  margin-right 14px
  margin-left 19px
  height 18px
  fill var(--brand)

.userInfo
  background white
  position absolute
  bottom 0
  left 0
  height 64px
  width 100%
  border-top 1px solid rgba(0,0,0,.1)
  display flex
  //justify-content space-between
  align-items center
  padding 0 24px

  svg
    height 1.5em
    margin-right 12px

  .signOut
    margin-left auto

    svg
      fill rgba(0,0,0,.2)
      transition fill .2s
      cursor pointer
      margin-right 0

    &:hover
      svg
        fill var(--brand)