
.logoWrapper
  display flex
  justify-content center
  align-items center
  margin-bottom 32px

.logo
  height 35px
  width 35px

.logoTitle
  font-family Gilroy
  font-style normal
  font-weight 600
  font-size 24px
  line-height 29px
  color #161938
  margin-left 9px

.groupTitle
  color #9BABC5
  font-size 16px
  font-weight 400
  font-family SF Pro Display, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
  margin-bottom 8px
  display flex
  align-items center
  margin-top 36px
  cursor pointer

.addTrigger
  margin-left auto

.newName
  width calc(100% - 38px)
  margin 0 19px;
  font-size 1em
  font-weight 400
  border 0
  outline none
  border-bottom 1px solid #9BABC5

.groupTitleIcon
  margin-right 12px
  transition transform .2s

.groupTitleIconOpen
  transform rotate(90deg)

.groupElement
  height 44px
  border-radius 5px
  margin-bottom 4px
  color black
  font-weight 500
  display flex
  align-items center
  cursor pointer

.groupElement.active
  color black
  background #f7f7f7

.groupElementIcon
  margin-right 14px
  margin-left 19px

.groupElementAwesomeIcon
  margin-right 14px
  margin-left 19px
  height 1em
  fill var(--brand)
