.list  max-width 50vw  display flex  flex-wrap wrap  padding 24px  gap 16px.block  width 48px  height 48px  border-radius 10px  background var(--color)  cursor pointer  display flex  justify-content center  align-items center  &.active::before    content: " "    display block    width 36px    height 36px    border 2px solid white    border-radius 10px