.screen
  display flex
  flex-direction column
  max-height 100%
  height 100%

.head
  padding 21px 26px
  background white
  border-radius 24px
  border 1px solid rgba(0,0,0,.1)
  margin-bottom 24px

.info
  display flex
  align-items center
  justify-content space-between

.title
  font-weight 600
  font-size 24px
  margin-right 12px
  line-height 1em

.actions
  display flex
  align-items center

  & > *
    margin-left 12px

.list
  display flex
  flex-direction column
  overflow-y auto
  padding 4px
  height 100%

.tag
  padding 16px
  margin-bottom 12px
  display flex
  align-items center
  border-radius 16px
  background white
  border 1px solid rgba(0,0,0,.1)

  .colorIndicator
    fill var(--tag-color)
    height 1.4em
    margin-right 16px

  .tagName
    padding 0
    background transparent
    font-size 1em
    border 0
    &:active, &:focus
      outline none

  .delete
    margin-left auto
    cursor pointer

    svg
      height 1.3em
      fill gray

  .colorInput
    margin-left 16px
    width 32px
    height 32px
    padding 0
    border 0
    border-radius 8px
    overflow hidden
    background var(--color)

.addTag
  margin 0 20px
  margin-top 36px
  display flex
  align-items center
  color #9c9c9c
  cursor pointer

  svg
    margin-right 8px