.screen
  display flex
  flex-direction column
  max-height 100%
  height 100%

.info
  margin-bottom 36px
  padding 0 20px
  display flex
  justify-content space-between

.title
  font-weight 600
  font-size 24px
  margin-right 12px

.content
  display flex
  justify-content space-between
  padding 0 16px

  .part
    display flex
    flex-direction column
    width 46%

.input
  margin-top 12px

.button
  background var(--brand)
  border-radius 4px
  font-size 1em
  color white
  min-height 42px
  display flex
  align-items center
  justify-content center
  border 0
  margin-top 12px

.errors
  display flex
  flex-direction column

  .error
    color red
    margin-top 6px