.list
  display flex
  margin-bottom 0
  flex-wrap nowrap
  max-width 100%
  overflow-x auto
  align-items center

  .all
    color #3552FB
    margin-right 15px
    cursor pointer

    &.active
      color var(--brand)
      font-weight 600