.wrapper
  width 212px

.searchWrapper
  border-bottom 1px solid #F2F2F2
  height 50px
  display flex
  align-items center
  padding 0 18px

.searchIcon
  margin-right 0

.search
  border 0
  outline none
  font-size 14px
  color #9BABC5
  font-weight 400

.search::-webkit-input-placeholder
  color #9BABC5
  font-size 14px
  font-weight 400

.projects
  display flex
  flex-direction column
  padding 6px 12px

.project
  display flex
  font-size 16px
  font-weight 600
  color #161938
  height 44px
  align-items center
  padding 0 20px
  border-radius 8px
  cursor pointer

  &.selected
    background #F7F7F7

.projectIcon
  margin-right 16px

.notFound
  color #9BABC5
  font-size 1.2em
  margin 6px 0