.wrapper
  width 24px
  height 24px
  display inline-flex
  justify-content center
  align-items center
  border-radius 50%
  border 2px solid transparent

.priority
  width 10px
  height 10px
  border-radius 50%
  display inline-block

.priorityOne
  background #FB2B76

.priorityTwo
  background #EBAE11

.priorityThree
  background #29E072

.priorityFour
  background lightgray