.info
  margin-bottom 28px
  padding 0 20px
  display flex
  justify-content space-between

.title
  font-weight 600
  font-size 24px
  margin-right 12px

.newTaskActions
  margin 0px 20px
  margin-top 12px
  margin-bottom 36px

  & > *
    margin-right 6px