.wrapper
  display flex
  flex-direction column
  //margin-bottom 16px

.info
  display flex
  align-items center
  //border-bottom 1px solid lightgray
  min-height 42px
  //margin 0 20px
  padding 8px 24px
  margin-bottom 16px
  background #DDE2FD
  border 1px solid #D0D6F6
  border-radius 16px
  color #1C3BF1

.actions
  margin-left auto
  display flex

.actions > *
  margin-left 8px

.name
  font-weight 600
  font-size 18px

.nameInput
  font-weight 600
  font-size 18px
  padding 0
  border 0
  background transparent

  &:active, &:focus
    outline none

.tasks
  display flex
  flex-direction column
  min-height 16px

.count
  display flex
  align-items center

  svg
    fill #1C3BF1
    margin-right 12px

.fold
  width 12px
  height 12px
  margin-left 24px
  display flex
  align-items center
  justify-content center
  cursor pointer
  transform rotate(90deg)
  transition transform .2s

  svg
    height 1em
    fill #bdc7d6

  &.active
    transform rotate(0deg)

.delete
  height 32px
  width 32px
  display flex
  align-items center
  justify-content center
  cursor pointer

  svg
    height 1em
    fill #8e8e8e


.listWrapper
  max-height: 50000px;
  transition: max-height 0.55s ease-in;
  padding-left 24px
  margin-bottom 24px
  &.folded
    max-height: 0;
    transition: max-height 0.35s ease-out;
    overflow: hidden;