.wrapper
  display flex
  flex-direction column
  //margin-bottom 16px

.info
  display flex
  align-items center
  border-bottom 1px solid lightgray
  min-height 42px
  margin 0 20px
  padding 8px 0
  margin-bottom 6px

.actions
  margin-left auto
  display flex

.actions > *
  margin-left 8px

.name
  font-weight 600
  font-size 18px

.nameInput
  font-weight 600
  font-size 18px
  padding 0
  border 0

.tasks
  display flex
  flex-direction column
  min-height 16px

.fold
  width 12px
  height 12px
  margin-right 8px
  display flex
  align-items center
  justify-content center
  cursor pointer
  transform rotate(90deg)
  transition transform .2s

  svg
    height 1em
    fill #bdc7d6

  &.active
    transform rotate(0deg)

.delete
  height 32px
  width 32px
  display flex
  align-items center
  justify-content center
  cursor pointer

  svg
    height 1em
    fill #8e8e8e


.listWrapper
  max-height: 500px;
  transition: max-height 0.25s ease-in;
  &.folded
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;